.bathroom_section {
  margin-top: 12px;
  justify-content: center;
  border-bottom: solid 1px #f6efef;
}

.bathroom_image_container {
  cursor: pointer;
  box-sizing: border-box;

  .bathroom_image {
    position: relative;
    overflow: hidden;
    padding: 12px;
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      max-width: 100%;
      transition: all 0.3s;
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1);
    }
  }
}

.bathroom_image_title {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  padding: 13px 0 10px 0;
  line-height: 30px;
  text-align: center;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;

  &:hover {
    color: #ed1c24;
  }
}
