.footer_container {
  width: 80%;
  margin: 0 auto;
  .shop_info {
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;

    h3 {
      font-size: 18px;
      color: #222222;
      text-transform: uppercase;
      position: relative;
      font-weight: 600;
      margin-bottom: 12px;
    }

    .aboutUs_row {
      margin-bottom: 10px;

      .aboutUs_homeIcon {
        font-size: 18px;
        display: inline-block;
        color: #ed1c24;
        vertical-align: top;
        margin-right: 8px;
      }

      .aboutUs_details {
        color: #666;
        font-size: 12px;
        min-width: 78px;
        text-transform: capitalize;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }

    .social_media {
      margin-top: 30px;
      .social_media_item {
        color: #666;
        padding: 10px;
        font-size: 18px;
      }
    }

    .shop_info_col {
      margin-right: 20px;
    }
    .gallery_grid {
      img {
        width: 100%;
        height: 75px;
        object-fit: cover;
      }
      .gallery_col {
        padding: 2px;
      }
    }
  }

  .footer_middle {
    justify-content: space-between;
    text-align: center;
    h3 {
      font-size: 20px;
      color: #333;
      text-transform: capitalize;
      font-weight: normal;
      margin-bottom: 2px;
    }

    p {
      color: #444;
      text-transform: capitalize;
      font-size: 14px;
    }
    input {
      border: 0;
      background: #f5f5f5;
      color: #8c8c8c;
      height: 40px;
      padding: 0 15px;
      min-width: 50%;
      border-radius: 4px 0 0 4px;
    }
    button {
      border: 0;
      padding: 0 15px;
      background-color: #222222;
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: normal;
      font-family: "Poppins", Helvetica, Arial, sans-serif;
      border-radius: 0 4px 4px 0;
      font-size: 12px;
    }
  }

  .footer_bottom {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 200px;
    p {
      color: #666;
    }
    .copyright_text {
      color: #666;
      font-size: 12px;
      text-align: center;
    }

    .footer_email {
      color: #ed1c24;
    }

    .footer_subscribe {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 767px) {
  .footer_container {
    width: 95%;
  }
}