.header-bottom {
  border-top: 1px solid #eeeeee;

  .content-container {
    max-width: 1170px;
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;

      .item-1 {
        position: relative;
        padding: 25px 18px;
        a {
          text-transform: uppercase;
          background-color: transparent;
          font-weight: 600;
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 22px;
          color: #222222;
          text-decoration: none;
          cursor: pointer;
          transition: 0.4s ease-in-out;

          &:hover {
            color: #ed1c24;
          }
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        .menu-2 {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          box-shadow: 0px 0px 5px #999;
          background-color: white;
          min-width: 200px;

          li {
            padding: 12px 25px;
            a {
              white-space: nowrap;
              text-transform: capitalize;
              display: block;
              color: #7d7d7d;
              font-size: 14px;

              &:hover {
                color: #ed1c24;
              }
            }
          }
        }

        .menu-dropdown {
          display: none;
          grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 15px;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          box-shadow: 0px 0px 5px #999;
          background-color: white;
          min-width: 875px;
          padding: 30px 15px 15px;

          .column {
            h6 {
              white-space: nowrap;
              text-transform: uppercase;
              font-weight: normal;
              padding: 0;
              display: block;
              color: #222222;
              font-size: 14px;
              font-weight: 600;
              display: block;
              padding-bottom: 15px;
              border-bottom: 1px #eaeaea solid;
              margin-bottom: 5px;
            }

            ul {
              display: block;
              box-shadow: none;

              li {
                padding: 9px 0;
                line-height: 22px;
                text-transform: capitalize;
                font-size: 14px;
                color: #7d7d7d;
                cursor: pointer;

                &:hover {
                  color: #ed1c24;
                }
              }

              
            }
          }

          .shop-memu-item {
            justify-content: center;
            padding: 20px;
          }
          
          .shop-menu-carousel {
            margin-bottom: 30px;
            img {
              width: 100%;
              padding: 10px;
              -webkit-user-drag: none;
            }
          }
        }

        &:hover {
          .menu-2 {
            display: block;
          }

          .menu-dropdown {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
